**/dist
**/.vscode
**/.swc
**/.next
**/.husky
**/.github
.prettierignore
.dockerignore
yarn.lock
.gitignore
.editorconfig
/public/*
node_modules
.npmrc
.npmrc-template
Dockerfile
sonar-project.properties
.env
.env.example
deploy.sh
