@import '../css/variables.css';

.intro {
  background: var(--colorWhite);
  color: var(--colorBlack);
}

.intro h1 {
  font-size: 2.75rem;
}

.link {
  border-bottom: 3px solid var(--colorBlack);
}

.social {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

@media (--small) {
  .intro h1 {
    font-size: 1.7142rem;
  }
  .link {
    border-width: 2px;
  }
}
